body * {
    margin: 0;
    padding: 0;
}

html{
    height: 100%;
}

body{
    height: 100%;
}

header{
    background-color: #673AB7;
    height: 10%;
    position: relative;
}

h1{
    color: #FFF;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

main{
    margin: 2% auto;
}

button{
    background-color: #673AB7;
    color: #FFF;
}

#add{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#GoButton{
    border-radius: 0px;
}

input:focus {
    outline: none !important;
    border:1px solid red;
    box-shadow: 0 0 10px #FF4081;
}

div{
    padding: 2%;
}